* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #f2f2f2;
    width: 100%;
    height: 7vh;
}
main{
    height: 86vh;
    width: 100%;
    background-image:url(./img/image\ 5.png);
}

footer{
    height: 7vh;
    width: 100%;
    background-color: #C20004;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f2f2f2;
}

.container_header{
    margin: 0 auto;
    width: 80%;
    height: 100%;
    /*background-color: yellowgreen;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
}


.container_header img{
    height: 5vh;
}

.container_menu{
    width: 400px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container_menu a{
    text-decoration: none;
    color: black;
}

.container_menu button{
    width: 80px;
    height: 4vh;
    border-radius: 15px;
    border-style: none;
    background-color: #C20004;
    color: #f2f2f2;
}

.container_main{
    margin: 0 auto;
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
}

.container_simulador{
    background: rgba(255, 255, 255, 0.6);
    width: 100%;
    height: 70vh;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.container_img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.container_img img{
    height: 100%;
    width: 500px;
    object-fit: cover;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.simulador{
    height: 95%;
    width: 1050px;
    margin-right: 150px;
}

.simulador_dados{
    height: 45vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.simulador_dados h1{
    color: #004A00;
    text-align: center;
}

.simulador_dados h2{
    color: #008900;
}

.simulador_dados input{
    width: 400px;
    height: 4vh;
    border-radius: 7px;
}

.simulador_dados button{
    height: 4vh;
    width: 300px;
    background-color: #004A00;
    color: #f2f2f2;
    border-style: none;
    border-radius: 15px;
}
